<style>
.c-form{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

h1{
	text-align: center;
}

.button{
	text-align: center;
}
</style>


<h1>Contact</h1>

<div class="c-form">
	<form action="https://getform.io/f/4a2383d5-e5cb-4a9b-aad6-377351276c76" method="POST">
		<label for="name">Name:</label><br>
		<input type="text" name="name"><br>
		<label for="email">Email:</label><br>
		<input type="email" name="email" required=True><br>
		<label for="msg">Message:</label><br>
		<textarea id="message" name="message" rows="5"></textarea>
		<br><br>
		<div class=button>
		<button type="submit" text-align=center>Send</button>
		</div>
	</form>
</div>
